<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>ListBookServlet</servlet-name>
    <servlet-class>com.hbsi.web.controller.ListBookServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>KeyServlet</servlet-name>
    <servlet-class>com.hbsi.web.controller.KeyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListBookServletp</servlet-name>
    <servlet-class>com.hbsi.web.controller.ListBookServletp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListBookServletp1</servlet-name>
    <servlet-class>com.hbsi.web.controller.ListBookServletp1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LBd1Servlet</servlet-name>
    <servlet-class>com.hbsi.web.controller.LBd1Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LBd2Servlet</servlet-name>
    <servlet-class>com.hbsi.web.controller.LBd2Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LBd3Servlet</servlet-name>
    <servlet-class>com.hbsi.web.controller.LBd3Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LBd4Servlet</servlet-name>
    <servlet-class>com.hbsi.web.controller.LBd4Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LBc1Servlet</servlet-name>
    <servlet-class>com.hbsi.web.controller.LBc1Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LBc2Servlet</servlet-name>
    <servlet-class>com.hbsi.web.controller.LBc2Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>com.hbsi.web.controller.BuyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteItemServlet</servlet-name>
    <servlet-class>com.hbsi.web.controller.DeleteItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListCartServlet</servlet-name>
    <servlet-class>com.hbsi.web.ui.ListCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClearCartServlet</servlet-name>
    <servlet-class>com.hbsi.web.controller.ClearCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeQuantitySevlet</servlet-name>
    <servlet-class>com.hbsi.web.controller.ChangeQuantitySevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBookServlet</servlet-name>
    <url-pattern>/servlet/ListBookServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>KeyServlet</servlet-name>
    <url-pattern>/servlet/KeyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListBookServletp</servlet-name>
    <url-pattern>/servlet/ListBookServletp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListBookServletp1</servlet-name>
    <url-pattern>/servlet/ListBookServletp1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LBd1Servlet</servlet-name>
    <url-pattern>/servlet/LBd1Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LBd2Servlet</servlet-name>
    <url-pattern>/servlet/LBd2Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LBd3Servlet</servlet-name>
    <url-pattern>/servlet/LBd3Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LBd4Servlet</servlet-name>
    <url-pattern>/servlet/LBd4Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LBc1Servlet</servlet-name>
    <url-pattern>/servlet/LBc1Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LBc2Servlet</servlet-name>
    <url-pattern>/servlet/LBc2Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/servlet/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteItemServlet</servlet-name>
    <url-pattern>/servlet/DeleteItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCartServlet</servlet-name>
    <url-pattern>/servlet/ListCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClearCartServlet</servlet-name>
    <url-pattern>/servlet/ClearCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeQuantitySevlet</servlet-name>
    <url-pattern>/servlet/ChangeQuantitySevlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>